/* Lightbox Styling */
.lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.lightbox-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    direction: rtl;
    margin: 10px;
}

.icon-alert {
    color: #ff5722;
    margin-bottom: 10px;
}

.lightbox-content h2 {
    margin: 10px 0;
    color: #081828;
}

.lightbox-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-download, .btn-hide {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    flex: 1;
}

.btn-download {
    background-color: #007bff;
    color: #fff;
}

.btn-download:hover {
    background-color: #0056b3;
}

.btn-hide {
    background-color: #ccc;
    color: #333;
}

.btn-hide:hover {
    background-color: #bbb;
}
