/* الأساسيات */
::-webkit-scrollbar-thumb { background: #002e70; }
::-webkit-scrollbar { width: 5px; height: 9px; background: #dcdcdc; }

body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
    background-color: #000000;
}

td, th { padding: 0; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* الحاوية */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) { .container { width: 750px; } }
@media (min-width: 992px) { .container { width: 970px; } }
@media (min-width: 1200px) { .container { width: 1170px; } }

.container:before, .container:after { content: " "; display: table; }
.container:after { clear: both; }

/* ترويسة المباريات */
div#match_today h2 {
    text-align: center;
    padding: 10px;
    background: #ff0000;
    color: #fff;
    position: relative;
}

#clock {
    font-size: 0.6em;
    margin-top: 1px;
}

/* بطاقة المباراة */
.mnajiri {
    display: block;
    height: 94px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.57) 0px 25px 20px -21px;
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
    border-radius: 5px;
    margin: 12px auto;
    background: #dadce0;
    border: 2px solid #ff0000;
}

.fullink {
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 5;
}

.mnajiriin { margin: 0 13px; }

.mnajiri img {
    background-color: #fff;
    border-bottom: 3px solid #ff0000;
    height: 50px;
    padding: 4px;
    position: absolute;
    width: 50px;
    border-radius: 20%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1), 0 2px 5px -1px rgba(0,0,0,0.2);
    -webkit-transition: box-shadow .3s;
    transition: box-shadow .3s;
}

.mpart1 strong {
    color: #fff;
    height: 50px;
    margin-right: -50px;
    position: absolute;
    right: 50%;
    text-align: center;
    width: 100px;
    z-index: 1;
    border-radius: 5px;
}

.mpart1 {
    position: relative;
    height: 48px;
    line-height: 48px;
}

.mpart1 span {
    float: right;
    text-align: center;
    width: 100%;
    z-index: 2;
}

/* أقسام المباراة */
.right_match {
    float: right;
    padding-left: 30px;
    width: 50%;
    position: relative;
    z-index: 2;
}

.left_match {
    float: left;
    padding-right: 30px;
    width: 50%;
    position: relative;
    z-index: 2;
}

.details_match {
    padding: 0 100px;
    font-size: 14px;
}

.details_match i { margin-left: 5px; }

.details_match span {
    float: right;
    height: 36px;
    line-height: 36px;
    position: relative;
    text-align: center;
    width: 33.3%;
    background-color: #000000;
    border-left: 1px solid #fff;
    color: #fff;
}

.details_match .liga_mdw { border: 0 none; }

.first_match::before, .liga_mdw::before {
    background-color: #ff0000;
    content: "";
    height: 36px;
    position: absolute;
    top: 0;
    width: 20px;
}

.first_match::before {
    transform: skew(-20deg);
    right: -12px;
    border-radius: 0 0 8px;
}

.liga_mdw::before {
    transform: skew(20deg);
    left: -12px;
    border-radius: 0 0 0 8px;
}

/* الاستجابية */
@media screen and (max-width: 700px) {
    .liga_mdw { display: none; }
    .details_match { padding: 0 60px; }
    .details_match span { width: 50%; }
    
    .thany::before {
        background-color: #ff0000;
        content: "";
        height: 36px;
        position: absolute;
        top: 0;
        width: 20px;
        transform: skew(20deg);
        left: -12px;
        border-radius: 0 0 0 8px;
    }
}

@media screen and (max-width: 500px) {
    .gadwal {
        font-size: 14px;
        width: 106%;
        background: #fff;
    }
    
    .details_match { font-size: 12px; }
    .mpart1 { line-height: 30px; }
    .mnajiriin { margin: 0 5px; }
    .right_match { padding-left: 20px; }
    .left_match { padding-right: 20px; }
    .mnajiri { height: 157px; }
    .details_match { padding: 0 25px; }
    
    .mnajiri img {
        position: relative;
        display: block;
        margin: 5px auto;
        background: transparent;
        border: 0;
        padding: 0;
    }
    
    .mpart1 strong {
        height: 36px;
        line-height: 36px;
        top: 30px;
        width: 60px;
        margin-right: -30px;
    }
}

/* ألوان البطاقات */
.najiri1 { background-color: #ff0000; }
.najiri2 { background-color: #E91E63; }
.najiri3 { background-color: #4caf50; }

/* حالة عدم وجود مباريات */
h1#no-match {
    background-color: rgb(218, 220, 224);
    padding: 100px 5px;
    text-align: center;
}

div#match_today {
    margin-bottom: 100px;
}

i.fa { margin: 4px; }
